.name-fraction{
    color: brown;
}

body{
    font-family: 'Zen Antique Soft', serif;
    margin:0px;
}
section{
    display: flex;
    margin-bottom: 70px;
}
.half-width{
    font-size: 20px;
    text-align: justify;
    width: 50%;
    padding: 20px;
}
.half-width img{
    width: 90%;
}
.half-width a{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(salmon, darkred);
    font-weight: 700;
    padding: 10px;
    border-radius: 3px;
}
button{
   background-color:darksalmon;
   border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}